body {
    background: #BFCDD9;
    font-family: "Raleway";
}
.App {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 250px;
    background: #f5f5f5;
    padding: 20px 30px;
    overflow: hidden;
    border-radius: 50px;
    box-shadow: 5px 10px 5px #8697A6;
}

.tab-list {
    padding-left: 0;
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
}

.tab-list-item {
    position: relative;
    display: inline-block;
    list-style: none;
    padding: 0.5rem 0.75rem;
    cursor: pointer;
    width: 100%;
    text-align: center;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    color: #8697A6;
    user-select: none;
}

.tab-list-active {
    cursor: default;
    color:#51608C;
}

.tab-list-active::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 90%;
    height: 2px;
    transform: translate(5%);
    background-color: #51608C;
    animation: transitionBorder normal 0.2s;
}

@keyframes transitionBorder {
    from {
        width: 0;
    }
    to {
        width: 80%;
    }
}

.tab-content{
    height: 100%;
    width: 100%;
    margin: 10px auto;
}


/* Content */

.title{
    margin: 20px 0px 10px 20px;
    font-size: 22px;
    color: #51608C;
    font-weight: bold;
    text-transform: uppercase;
}

.content{
    margin: 0px 20px 0px 20px;
    color:#8697A6;
}
